.idea
.vs
.vsconfig
.vscode
*.csproj
Library
Logs
obj
*.sln
*.xmind
Temp
BuildPackage
BuildPackageApk
RuntimeInspector
BuildPackageVS
ResourcesFiles
StreamingAssets
LocalIl2CppData
HybridCLRData/hybridclr_repo
HybridCLRData/il2cpp_plus_repo
AssembliesPostIl2CppStrip
HotFixDlls
Wolong_100
Assets/Deer/AssetsHotfix/Assembly
CommitResources/setup/cwRsync4_client_jb51
LubanTools/setup/proto
BuildPackageIOS
ABBuild
AppBuild
HybridCLRData/HotUpdateDlls
LubanTools/DesignerConfigs/.cache.meta
HybridCLRData/LocalIl2CppData-WindowsEditor
HybridCLRData/iOSBuild
CommitResources
DockerHttpServer
UserSettings/Layouts/default-2021.dwlt
Assets/HybridCLRData/Generated
ServerData
Assets/AddressableAssetsData/Windows/addressables_content_state.bin
UserSettings/Layouts/default-2021.dwlt
HybridCLRData
LubanTools\DesignerConfigs\.cache.meta
Assets/AddressableAssetsData/Windows/addressables_content_state.bin.meta
